#mydiv1{
    background-color: blue;
}

#mydiv2{
    background-color: red;
    /* for setting height and width of a box  */
    height: 100px;
    width: 60px;
    /* for setting border of box  */
    border-width: 5px;
    border-style:dashed;
    border-color: darkgreen;
    /* border-radius Used to round the corners of an element's outer border edge  */
    /* larger the radius more the roundness  */
    border-radius: 20px;
    border-radius: 20%; /*second method*/
    /* for settin padding  */
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    /* for setting margin  */
    margin-top: 30px;
    margin-right: 50px;
    /* for shorthand */
    margin: 30px 10px 10px 50px;

}
#h01{
    background-color:bisque;
}
#h02{
    background-color: aquamarine;
    height: 100px;
    width: 350px;
    border:5px solid brown; /* border short hand*/
    text-align: center;
    /* heading is centered according to my width and heigth of box  */
    padding: 10px 15px 20px 25px; /* shorthand padding */
    /* started form the top - rigth -bottom -left (clcokwise)  */
}
#mydiv3{
    background-color: crimson;
    height: 100px;
    width: 100px;
    border: 3px solid darkslateblue;
    border-radius: 50%; /*makes circle*/
    padding: 10px 15px 20px 25px; /* shorthand padding */
    /* started form the top - rigth -bottom -left (clcokwise)  */
}

