#Q1{
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
}
body{
    background-color:bisque;
}
p,a, form,button{
    display: inline;
}
#div{
    background-color: #0f1111;
    height: 60px;
    border-width: 5px;
    border-color: white;
    border-style: solid;
}
a{
    color: white;
    text-transform: capitalize;
    text-decoration: none;
    margin-right: 200px;
}
#p1{
    color:#f08804;
    font-size: 25px;
    text-transform: lowercase;
}
button{
    text-transform: capitalize;
    background-color: #f08804;

}
