div{
    width: 100px;
    height: 100px;
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/030/479/664/small/heart-formed-by-tree-branches-and-leaves-on-a-forest-trail-ai-generated-photo.jpg");
    background-size: cover;
    color: white;
    position: fixed;
    bottom: 0;
    right: 0;
}
