body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#load{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 5px solid black;
    border-top: 5px solid white;
    animation: loader 2s linear 0s infinite normal;

}
@keyframes loader{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}